#!/bin/false
#
# Copyright (c) 2020-2025 Pavel Vasin
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#

.rust-llvm:
  image: rust:1.91.1@sha256:867f1d1162913c401378a8504fb17fe2032c760dc316448766f150a130204aad
  variables:
    CARGO_HOME: ".cargo"
    CARGO_TERM_COLOR: always
  cache:
    paths:
      - .cargo
      - target

.openjdk:
  image: maven:3.9.10-eclipse-temurin-21@sha256:615bd38fa00dd2416d90cbbc99895b9955400fa8110e83646e3e04ebcb7c471e
  variables:
    MAVEN: "mvn --batch-mode --no-transfer-progress" #TODO 4
    MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  cache:
    paths:
      - .m2/repository

stages:
  - scan
  - test
  - build

rust-test:
  extends: .rust-llvm
  stage: test
  script:
    - cargo build --package blacknet-crypto --package blacknet-io --package blacknet-kernel --package blacknet-serialization --package blacknet-time --no-default-features
    - cargo test --package blacknet-crypto --package blacknet-io --package blacknet-kernel --package blacknet-serialization --package blacknet-time --no-default-features
    - cargo build
    - cargo test
  rules:
    - changes:
      - Cargo.lock
      - Cargo.toml
      - "**/Cargo.*"
      - "**/*.rs"
      when: on_success
    - when: never

openjdk-scan:
  extends: .openjdk
  stage: scan
  script:
    - $MAVEN artifact:check-buildplan cyclonedx:makeAggregateBom
  rules:
    - changes:
      - pom.xml
      - "**/pom.xml"
      when: on_success
    - when: never
  artifacts:
    reports:
      cyclonedx: target/bom.json

openjdk-test:
  extends: .openjdk
  stage: test
  script:
    - $MAVEN test
  rules:
    - changes:
      - pom.xml
      - "**/pom.xml"
      - "**/*.java"
      - "**/*.kt"
      when: on_success
    - when: never
  artifacts:
    reports:
      junit:
        - "**/target/surefire-reports/TEST-*.xml"

openjdk-build:
  extends: .openjdk
  stage: build
  variables:
    DESTDIR: "blacknet-$CI_COMMIT_TAG"
  script:
    - $MAVEN verify
    - mkdir -p $DESTDIR
    - cp -a daemon/target/appassembler/* $DESTDIR
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
    - when: never
  artifacts:
    name: blacknet-gitlab-build
    paths:
      - $DESTDIR
